<div class="flex flex-col lg:flex-row-reverse">
  <div>
    <p-image src="images/SnaptrailHero.png" alt="Image" styleClass="rounded" />
  </div>
  <div class="flex flex-col items-center pt-20 gap-15 lg:gap-35">
    <div class="text-2xl lg:text-7xl font-bold w-2/3 tracking-wide text-center">
      Capturing journeys, one photo at a time!
    </div>
    <div class="flex flex-col lg:flex-row w-2/3 items-center gap-10">
      <div class="lg:w-1/5">
        <p-button
          severity="contrast"
          styleClass="w-full text-bold"
          label="View Timeline"
        />
      </div>
      <div class="text-xl flex flex-col items-center text-center">
        Want to know more about Snaptrail?
        <a class="text-xl border-color underline" routerLink="/about"
          >Click here!</a
        >
      </div>
      <a
        class="text-xl border-color underline"
        href="https://github.com/MarkusHarder/snaptrail"
        target="_blank"
        rel="noopener noreferrer"
        >Visit GitHub</a
      >
    </div>
  </div>
</div>
